---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description=""
	pubDate={new Date('August 08 2021')}
	updatedDate={new Date('August 08 2022')}
	heroImage="/sefa-midjourney.png"
>
	<p>
  	 Passionate About Artificial Intelligence, Machine Learning, Software Development, Electrical-Electronics Engineer
	</p>

</Layout>
