---
import { HOMEPAGE_URL } from "../consts";

const today = new Date()
---

<footer class="text-zinc-500 p-4 text-center">
  &copy; {today.getFullYear()}
  <a href={HOMEPAGE_URL}> SefaCanGenç</a>. All rights reserved.
</footer>