---
import SVGComponent from './icons/footprint';
import HeaderLink from './HeaderLink.astro';
import { SITE_TITLE } from '../consts';
import { IoLogoGithub } from 'react-icons/io5/index.js'
import ThemeToggle from './ThemeToggleButton';

 
---

<header class="fixed w-full p-1 z-20 backdrop-blur-md mb-20">
	<div class="mx-auto max-w-xl">
	  <nav class="flex items-center gap-3 text-base">
		<a href="/" class="group">
		  	<h2 class="font-semibold tracking-tighter p-2 font-mplus text-lg">
			  <SVGComponent />

			</h2>
		</a>
		<div class="items-center gap-6 hidden md:flex">
			
			<HeaderLink href="/">Home</HeaderLink>
			<HeaderLink href="/blog">Blog</HeaderLink>
			<HeaderLink href="/about">About</HeaderLink>
			<HeaderLink href="https://twitter.com/sefacangenc" target="_blank">Twitter</HeaderLink>
			<HeaderLink href="https://github.com/sefacangenc" target="_blank"><IoLogoGithub/>GitHub</HeaderLink>
		</div>
		<div class="flex-1"></div>
			<ThemeToggle client:load/>
	  </nav>
	</div>
  </header>


  